[Desktop Entry]
Name=EmojiRunner
Comment=Emoji picker for Krunner
Icon=planetkde

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_emojirunner
X-KDE-PluginInfo-Author=Alex1701c
X-KDE-PluginInfo-Email=alex1701c.dev@gmx.net
X-KDE-PluginInfo-Name=emojirunner
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GLP V3
X-KDE-PluginInfo-EnabledByDefault=true
